 /*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/
 
 html {
    box-sizing: border-box;
  }
  body{
    background-color: #E5E5E5;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
  }
 
/* ------ Header Style ------ */

header.primary{
    background-image: url("../img/dragon-hover-header.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    height:353px;
    width: 99vw;
    padding:10px;
}



header nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;  
}

header nav ul a:link, header nav ul a:visited {
    text-decoration: none;
    color:#14213D;
    background-color: rgba(252, 163, 17, .5);
    padding: 10px 25px ;
    border-radius: 10px;
}

header h2{
    display:flex;
    justify-content: center;
    font-size: 75px;
    color:white;
    background-color: rgba(20, 33, 61, .5);
    padding: 10px 25px ;
    border-radius: 25px;
    width: 25%;
    margin:auto;
}


header h1 a{
    background: url("../img/Background.png");
    width: 418px;
    height: 51px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}

/* ------ IMG Optimization ------ */

img{
    max-width: 100%;
    height: auto;
}

/* ------ Section Style ------ */

section {
     background-color: #E5E5E5;
    padding: 20px 0;
    color: #E5E5E5;
    border-top: 3px solid #FCA311;
   }

/* ------ Content Style ------ */
 
section#content {
  background-color: #E5E5E5;
  color: black;
  text-align:justify;
  
}

section#content h2{
  text-align: center;
}

section#content p{
  margin: 75px
}


/* ------ Table Style ------ */

#table{
  display:flex;
  justify-content: center;
}

table{
  background-color:#14213D;
}

th, td{
  border: 2px inset #FCA311;
  padding: 10px;
}


/* ------ Article Style ------ */

article.post{
    background-color: #14213D;
    padding: 15px;
    margin-bottom: 20px;
    display:inline-flex;
    flex-direction: column;
    
}

  #box-1{
    width: 33rem;
    height: 36rem;
    float:left;
    margin: 0 2.3rem;
  }


  #box-2{
    clear:both;
    width: 33rem;
    height: 36rem;
    margin: 0 2.4rem;
  }

  #box-3{
    width: 33rem;
    height: 36rem;
    float:right;
    margin: 0 2.4rem;
  }


  section#articles h2{
    text-align: center;
    background-color: #14213D;
    padding:20px;
    margin: 20px;
    border-radius: 100px;
  }
  
  #post figure{
    grid-area: figure;
    margin:0;
  }
  
 #post header{
    grid-area: header;
  }
  
  #post .post-content{
    grid-area: post-content;
  }
  
  #post meta{
    grid-area: footer;
  }
  




/* ------ Info Style ------*/

.info {
  padding:20px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid black;
  background-color:  #14213D;
  width:50%;
  border-style: inset;
  border-color: #FCA311;
  border-width: 5px;
  color:white;

  
}


details summary {
 width: 200%;
 padding: 20px 0;
 cursor: pointer;
 justify-content: center;

 
}

details summary:after {
  color: white;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
  border-style: outset;
  border-color: #FCA311;
  border-width: 5px;
  
  
}

#history-and-overview{
display:flex;
margin-left: 20px;
margin-right: 20px;
gap:20px;
clear: both;

}

 #history-and-overview{
  color:black;

 }


/* ------ Footer Style ------ */

footer{
    background-color: #FCA311;
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

/* ------ FAQ Style ------ */
 #content details {
  background-color: #14213D;
  border: 5px outset #FCA311;
  color:white;
  padding:10px;
  margin: 25px;
  align-items: center;

 }

 /* ------ Contact Style ------ */
 
 #wufoo-z1usdk3v1og3iro{
  margin: auto;
  width: 50%;
  padding: 10px;
 }