 /*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/
 
 html {
    box-sizing: border-box;
  }
  body{
    background-color: #E5E5E5;
  }
 
/* ------ Header Style ------ */

header.primary{
    background-image: url("../img/Dragon_2_hover.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    height:353px;
    width: 1897px;
}



header nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;  
}

header nav ul a:link, header nav ul a:visited {
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 25px ;
    border-radius: 10px;
}

header h2{
    display:flex;
    justify-content: center;
    font-size: 75px;
    color: white;
    background-color: black;
    margin: 0px 775px;
    border-radius: 1rem 2rem 3rem 4rem;
}


header h1 a{
    background: url("../img/Background.png");
    width: 418px;
    height: 51px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}

/* ------ IMG Optimization ------ */

img{
    max-width: 100%;
    height: auto;
}

/* ------ Section Style ------ */

section {
     background-color: #E5E5E5;
    padding: 20px 0;
    margin:0;
    color: #E5E5E5;
    border-top: 3px solid #FCA311;
   }

/* ------ Content Style ------ */

section#content {
    background-color: #E5E5E5;
    color: black;
    text-align:justify;
    
}

section#content h2{
    text-align: center;
}

section#content p{
    margin: 75px;
}

/* ------ Article Style ------ */

article#post{
    background-color: #14213D;
    margin: 10px;
    padding: 10px;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 36rem;
   
  }

  section#articles h2{
    text-align: center;
    background-color: #14213D;
    padding:20px;
    margin: none;
    border-radius: 100px;
  }
  
  article.post figure{
    grid-area: figure;
    margin:0;
  }
  
  article.post header{
    grid-area: header;
  }
  
  article.post .post-content{
    grid-area: post-content;
  }
  
  article.post meta{
    grid-area: footer;
  }
  




/* ------ Info Style ------ */

.info {
    padding:20px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    border-top: 1px solid black;
    background-color:  #14213D;
    width:50%;
}

details summary {
   width: 200%;
   padding: 20px 0;
   cursor: pointer;
  }

  details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }




/* ------ Footer Style ------ */

footer{
    background-color: #FCA311;
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}


